body {
	margin: 0px auto !important;
	float: none !important; 	
	background-color: #D0DBDD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  line-height:180%;
	margin-bottom: 1.2em;
}
table.linkcontainer td{
	background-color: #011723;
	filter:alpha(opacity=60);
	opacity: 0.7;
	-moz-opacity: 0.7;
	font-size: 1.2em;
}
td.logo_area{
	border-top-width: 0px;
	border-right-width: 5px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D0DBDD;
	border-right-color: #D0DBDD;
	border-bottom-color: #D0DBDD;
	border-left-color: #D0DBDD;
}
.logo {
	position: right;
	top: 30px;
	bottom: 30px;
	left: 0px;
	width: 60%;
	padding: 25px;
}

.logo img {
	position: right;
	width: 66%;
	height: auto;
}
td.middle_spacer {
	max-width: 800px;
	background-color: #011723;
}
td.shadow_right {
	background-image: url(../images_template/border_shadow_l.jpg);
	background-repeat: repeat-y;
	background-position: left;
}
td.shadow_left {
	background-image: url(../images_template/border_shadow_r.jpg);
	background-repeat: repeat-y;
	background-position: right;
}
td.body_content {
	padding: 5px;
	background-image: url(../images_template/bg_content.jpg);
	background-repeat: repeat;
	font-size: 1.2em;	
	color: #083C49;
}
td.body_content_centre {
	padding: 5px;
	background-color: #FAFAFA;
	background-repeat: repeat;
	font-size: 1.2em;	
  text-align: center;
 	color: #083C49;
}
td.below_header{
	background-color: #083C49;
	height: 50px;
	color: #D0DBDD;
	padding: 30px;
	text-align: left;
	font-size: 1.2em;
}
td.main_content_box {
	padding: 5px;
	background-color: #FFFFFF;
}
td.horizontal_column {
	background-color: #FFFFFF;
	border-top-width: 15px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	height: 150px;
	display: table-cell;
	vertical-align: top;
	padding: 30px;
}
td.bottom_link_container {
	background-color: #083C49;
	text-align: center;
	color: #D0DBDD;
	padding: 5px;
	font-size: 1.2em;
}

td.horizontal_center_main {
	background-color: #D0DBDD;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D0DBDD;
	border-right-color: #D0DBDD;
	border-bottom-color: #D0DBDD;
	border-left-color: #D0DBDD;
	height: 300px;
	display: table-cell;
	vertical-align: top;
	background-image: url(../images/background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

td.horizontal_center {
	background-color: #D0DBDD;
	border-top-width: 15px;
	border-right-width: 0px;
	border-bottom-width: 15px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #011723;
	border-right-color: #333333;
	border-bottom-color: #011723;
	border-left-color: #333333;
	height: 150px;
	display: table-cell;
	vertical-align: top;
	background-image: url(../images_template/header_bg3.jpg);
	background-size: cover;
  background-repeat: no-repeat;
}
td.header_column {
	height: 100px;
	vertical-align: middle;
	color: #D0DBDD;
	font-size: large;
	background-image: url(../images_template/header2_bg.jpg);
	background-position: top;
	background-size: cover;
}
td.left_content {
	width: 200px;
	padding: 5px;
	vertical-align: middle;
	background-image: url(../images_template/bg_content.jpg);
	background-repeat: repeat;
}
td.profileImage {
	max-width: 100px;
}
a.main_link:active,a.main_link:visited,a.main_link:link{
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 100%;
	color: #D0DBDD;
	line-height: 50px;
}
a.main_link:hover{
	color: #FFFFFF;
}
a.bottom_link:active,a.bottom_link:visited,a.bottom_link:link{
	font-weight: bold;
	text-decoration: none;
	color: #D0DBDD;
}
a.bottom_link:hover{
	color: #FFFFFF;
}
div.bottom_content{
	color: #D0DBDD;
	padding: 5px;
}
div.navigation {
	height: 50px;
	max-height: 50px;
	line-height: small;
	vertical-align: middle;
	text-align: center;
	padding: 0px;
	color: #D0DBDD;
}
