body {
	margin: 0px auto !important;
	float: none !important; 	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:180%;
	margin-bottom: 1.2em;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F0F0F0;
	border-right-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	border-left-color: #F0F0F0;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
}
table.linkcontainer td{
	background-color: #011723;
	filter:alpha(opacity=60);
	opacity: 0.7;
	-moz-opacity: 0.7;
	font-size: 1.2em;
	color: #024163;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.logo_area{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.logo {
	position: right;
	top: 5%;
	bottom: 5%;
	left: 0px;
	right: 0px;
	width: 100%;
	max-width: 850px;
	padding: 5px;
}

.logo img {
	position: right;
	width: 70%;
	height: auto;
}
td.below_header{
	padding: 2%;
	background-color: #CCCCCC;
	color: #024163;
	text-align: left;
	font-size: 1.2em;
}
td.main_content_box {
	padding: 0px;
	background-color: #F0F0F0;
	color: #024163;
}
td.body_content {
	padding: 2%;
	background-color: #FAFAFA;
	background-image: url(../images_template/bg_content.jpg);
	background-repeat: repeat-y;
	background-position: right;
	color: #024163;
	text-align: left;
	font-size: 1.2em;	
}
td.body_content_centre {
	padding: 2%;
	background-color: #CCCCCC;
	background-repeat: repeat-y;
	background-position: right;
	font-size: 1.2em;	
	color: #024163;
	text-align: center;
}
td.bottom_link_container {
	background-color: #011723;
	text-align: center;
	color: #D0DBDD;
	font-size: 1.2em;
	filter:alpha(opacity=60);
	opacity: 0.85;
	-moz-opacity: 0.85;
	font-size: 1.2em;
	border-top-width: 50px;
	border-top-color: #F0F0F0;
	border-top-style: solid;
	border-bottom-width: 50px;
	border-bottom-color: #F0F0F0;
	border-bottom-style: solid;
}

td.horizontal_center_main {
	background-color: #F0F0F0;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 12px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F0F0F0;
	border-right-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	border-left-color: #F0F0F0;
	height: 300px;
	display: table-cell;
	vertical-align: top;
	background-image: url(../images/background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

td.header_column {
	height: 100px;
	vertical-align: middle;
	color: #F0F0F0;
	font-size: large;
	background-image: url(../images_template/header2_bg.jpg);
	background-position: top;
	background-size: cover;
	border-top-width: 0px;
	border-top-color: #F0F0F0;
	border-top-style: solid;
	border-bottom-width: 12px;
	border-bottom-color: #F0F0F0;
	border-bottom-style: solid;
}
td.profileImage {
	max-width: 100px;
}
.link_class {
    display:block;
    color:#F0F0F0;
    overflow:auto;
    padding:5px 7px;    
}
a.main_link:active,a.main_link:visited,a.main_link:link{
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 100%;
	color: #D0DBDD;
	line-height: 50px;
	text-overflow: ellipsis;
  white-space: nowrap;
}
a.main_link:hover{
	color: #F0F0F0;
}
a.bottom_link:active,a.bottom_link:visited,a.bottom_link:link{
	font-weight: bold;
	text-decoration: none;
	color: #D0DBDD;
}
a.bottom_link:hover{
	color: #F0F0F0;
}
div.bottom_content{
	color: #D0DBDD;
	padding: 5px;
}
div.navigation {
	height: 50px;
	max-height: 50px;
	line-height: small;
	vertical-align: middle;
	text-align: center;
	padding: 1px;
	color: #D0DBDD;
}
